---
# tasks file for roles/gitops
- name: Install apache2
  ansible.builtin.apt:
    name: 
      - apache2
      - php
    state: latest



- name: Ensure Apache is started
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes
        
